.Button {
  background-color: transparent;
  border: 3px solid black;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
}

.Button:active {
  background-color: #ccc;
}

.Success {
  color: green;
  margin: 10px;
  background-color: palegreen;
}

.Danger {
  color: red;
  background-color: lightpink;
}
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
